.sign-bottom {
  width: 100%;
}

.sign-bottom__button {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  padding: 14px 0;
  border: none;
  transition: .3s;
  cursor: pointer;
}

.sign-bottom__button:hover {
  opacity: .7;
}

.sign-bottom__container {
  margin-top: 16px;
  display: flex;
  column-gap: 6px;
  justify-content: center;
}

.sign-bottom__link-description {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin: 0;
}

.sign-bottom__link {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000;
  text-decoration: none;
  transition: .3s;
}

.sign-bottom__link:hover {
  opacity: .7;
}

@media screen and (max-width: 545px){
  .sign-bottom__button {
    font-size: 12px;
    line-height: 15px;
  }

  .sign-bottom__link-description {
    font-size: 12px;
    line-height: 15px;
  }

  .sign-bottom__link {
    font-size: 12px;
    line-height: 15px;
  }
}