.profile {
  margin-top: 74px;
  height: calc(100vh - 74px);
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.profile__container {
  width: 100%;
}

.profile__welcome {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 74px 0 110px;
  text-align: center;
}

.profile__input-container {
  display: flex;
  width: 100%;
  border-bottom: solid 1px #e8e8e8;
  pointer-events: none;
}

.profile__input-container:last-child {
  border: none;
}

.profile__input-label {
  padding: 16px 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  width: 50px;
  cursor: pointer;
}

.profile__input {
  padding: 16px 0;
  width: calc(100% - 50px);
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000;
  outline: none;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 70px;
  align-items: center;
}

.profile__button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  max-width: max-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.profile__button:hover {
  opacity: .7;
}

.profile__button_color_red {
  color: #ff4062;
}

.profile__button-edit {
  width: 100%;
  background-color: #000;
  border: none;
  padding: 14px 0;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  transition: .3s;
}

.profile__button-edit:hover {
  opacity: .7;
}

.profile__button-edit_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.profile__button-edit_disabled:hover {
  opacity: 1;
}

.profile__error-message {
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FF004C;
}

@media screen and (max-width: 797px){
  .profile {
    justify-content:center;
    row-gap: 200px;
    margin-top: 50px;
  }

  .profile__welcome {
    margin: 0 0 80px;
  }

  .profile__buttons {
    margin: 0;
  }
}

@media screen and (max-width: 545px){
  .profile {
    justify-content:space-between;
    width: 81.25%;
    margin-top: 74px;
  }

  .profile__welcome {
    margin: 70px 0;
  }

  .profile__buttons {
    margin-bottom: 40px;
  }

  .profile__button,
  .profile__button-edit {
    font-size: 12px;
    line-height: 15px;
  }
}