.sign-input {
  width: 100%;
}

.sign-input__name {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin: 0 0 10px;
}

.sign-input__input {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  padding-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: solid 1px #e8e8e8;
}

.sign-input__input_type_error {
  color: #ff4062;
}

.sign-input__error {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ff4062;
  height: 20px;
  opacity: 0;
}

.sign-input__error_visible {
  opacity: 1;
}