.search-form {
  margin: 154px 0 10px;
  padding-bottom: 83px;
  border-bottom: solid 1px rgba(170, 170, 170, .2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-form__container {
  width: 100%;
  border-radius: 9px 0 0 9px;
  background-color: #f9f9f9;
  height: 72px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: .3s;
  
}

.search-form__input {
  background-color: transparent;
  background-image: url('../../images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: left 19px center;
  border: none;
  height: 48px;
  width: calc(100% - 87px);
  padding-left: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  outline: none;
}

.search-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #a0a0a0;
}

.search-form__search-button {
  height: 34px;
  width: 34px;
  background-color: #000;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: none;
  margin-right: 30px;
  padding-right: 30px;
  background-image: url('../../images/search-button.svg');
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  transition: .3s;
}

.search-form__search-button:hover {
  opacity: .7;
}

.search-form__shorts {
  display: flex;
  align-items: center;
  column-gap: 14px;
  background-image: url('../../images/vertical-line.svg');
  background-repeat: no-repeat;
  background-position: left;
  padding-right: 30px;
  padding-left: 29px;
  height: 72px;
  border-radius: 0 9px 9px 0;
  background-color: #f9f9f9;
}

.search-form__shorts-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  margin: 0;
}

.search-form__shorts-button {
  display: none;
}

.search-form__toggle {
  width: 36px;
  height: 20px;
  background: #000;
  border-radius: 20px;
  position: relative;
  transition: .3s;
  cursor: pointer;
}

.search-form__toggle-key {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 2px;
  left: 2px;
  transition: .5s;
}

.search-form__toggle_active {
  background: #2be080;
}

.search-form__toggle_active .search-form__toggle-key {
  background-color: #fff;
  left: 18px;
}

@media screen and (max-width: 797px){
  .search-form {
    margin-top: 134px;
  }
  
  .search-form__container {
    width: 100%;
  }
}

@media screen and (max-width: 545px){
  .search-form {
    flex-direction: column;
    padding-bottom: 43px;
    row-gap: 44px;
  }

  .search-form__container {
    border-radius: 9px;
    justify-content: space-between;
  }

  .search-form__search-button {
    margin-right: 19px;
  }

  .search-form__input {
    background-image: none;
    padding-left: 19px;
    font-size: 14px;
  }
  
  .search-form__input::placeholder {
    font-size: 14px;
    line-height: 18px;
  }

  .search-form__shorts {
    height: 0px;
  }

  .search-form__shorts-text {
    font-size: 11px;
    line-height: 18px;
  }
}