.header-nav {
  width: 100%;
}

.header-nav__container {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  padding-left: 44px;
}

.header-nav__menu {
  display: none;
}

.header-nav__links {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header-nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  transition: .3s;
}

.header-nav__link:hover {
  opacity: .7;
}

.header-nav__link_active {
  font-weight: 500;
}

.header-nav__link_tablet-only {
  display: none;
}

.header-nav__account-button {
  border-radius: 50px;
  text-decoration: none;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  padding: 8px 20px 8px 20px;
  background-color: #f9f9f9;
  transition: .3s;
}

.header-nav__account-button:hover {
  opacity: .7;
}

.header-nav__account-button_active {
  border: 2px solid #FFF;
}

@media screen and (max-width: 797px){
  .header-nav {
    width: 0%;
  }

  .header-nav__container {
    background-color: #fff;
    width: 66%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: -100%;
    transition: right .5s;
  }

  .header-nav_opened .header-nav__container{
    right: 0;
  }

  .header-nav__overlay {
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: background-color .5s;
    pointer-events: none;
 }

 .header-nav_opened .header-nav__overlay {
    background-color: rgba(0, 0, 0, .3);
 }

  .header-nav__links {
    margin: 160px 50px 0 0;
    flex-direction: column;
    align-items: center;
    row-gap: 26px;
    padding-bottom: 4px;
  }
  
  .header-nav__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .header-nav__link_active {
    border-bottom: solid 2px #000;
  }
  
  .header-nav__link_tablet-only {
    display: block;
  }
  
  .header-nav__account-button {
    margin: 0 50px 90px 0;
    max-width: 100px;
  }
  
  .header-nav__menu {
    display: block;
    position: absolute;
    top: 26px;
    right: 82px;
    z-index: 10;
  }

  .header-nav__menu-first-line {
    width: 28px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: -28px;
    transition: .5s;
  }

  .header-nav__menu-second-line {
    width: 28px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 10px;
    left: -28px;
    transition: .2s;
  }

  .header-nav__menu-third-line {
    width: 28px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 20px;
    left: -28px;
    transition: .5s;
  }

  .header-nav_opened .header-nav__menu-first-line {
    width: 22px;
    transform: rotate(45deg) translate(14px);
  }
  .header-nav_opened .header-nav__menu-second-line {
    transform: translateX(100px)
  }
  .header-nav_opened .header-nav__menu-third-line {
    width: 22px;
    transform: rotate(-45deg) translate(14px);
  }
}

@media screen and (max-width: 545px){
  .header-nav {
    width: 0%;
  }
  
  .header-nav__container {
    width: 100%;
  }

  .header-nav__menu {
    right: 90px;
  }

  .header-nav__links {
    row-gap: 25px;
    padding-bottom: 7px;
    margin: 145px 0 0;
  }

  .header-nav__account-button {
    margin: 0 0 40px;
  }

  .header-nav__menu-first-line,
  .header-nav__menu-second-line,
  .header-nav__menu-third-line {
    width: 22px;
    left: -16px;
  }
}