.header {
  width: 89%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 75px;
  position: fixed;
  max-width: 1140px;
  background-color: #fff;
  z-index: 100;
}

.header__logo {
  min-width: 38px;
  height: 38px;
  background-image: url(../../images/logo.svg);
  transition: .3s;
}

.header__logo:hover {
  opacity: .7;
}

@media screen and (max-width: 797px){
  .header {
    width: 92%;
    max-height: 38px;
  }
}

@media screen and (max-width: 545px){
  .header {
    width: 91.25%;
  }
}